@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
.container {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container img{
    width: 41%;
    transition: all 0.6s ease-in-out;
  }
  
  .container.active img{
    transform: translateX(115%);
  }

  .container h1 {
    color: #887964;
    font-family: poppins;
  }

  .container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }

  .container a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  .container button {
    background-color: #9E907D;
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }

  .container button.hidden {
    background-color: white;
    border-color: #fff;
    color: #9E907D;
  }
  
  .container form {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }
  
  .container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }

  .sign-up, .sign-in {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    z-index: 1;
  }
  
  .sign-in {
    z-index: 2;
    opacity: 1;
    top: 0;
    width: 50%;
  }
  
  .container.active .sign-in {
    /* top: -100%; */
    opacity: 0;
    z-index: 1;      
    transform: translateX(100%);
  }
  
  .sign-up {
    top: 0;
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  
  .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
    animation: move 0.6s;
  }

  